@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Montserrat:wght@300;400;700&family=Open+Sans&family=Orelega+One&display=swap");
.presentacion {
  width: 100%;
  min-height: 80vh;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "main1 main2" "main3 main4";
  grid-gap: 1.5rem; }
  .presentacion .presentacion_text {
    grid-area: main1; }
    .presentacion .presentacion_text h2 {
      font-size: 40px;
      font-family: "Bubblegum Sans", cursive;
      color: #fa8e00;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 25px;
      margin: 2rem; }
    .presentacion .presentacion_text p {
      font-size: 1.5rem;
      margin: 0.8rem 2rem 1.8rem;
      line-height: 1.3;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem; }
  .presentacion .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
    padding: 4em;
    grid-area: main2; }
    .presentacion .contenedor img {
      width: 400px; }
  .presentacion .contenedor2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
    padding: 30px;
    grid-area: main3; }
    .presentacion .contenedor2 img {
      width: 400px; }
  .presentacion .contenedor3 {
    font-size: 1.5rem;
    margin: 0.8rem 2rem 1.8rem;
    line-height: 1.3;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: main4; }
    .presentacion .contenedor3 h2 {
      color: #fa8e00;
      font-family: "Bubblegum Sans", cursive;
      font-size: 40px;
      padding: 25px; }

.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "main5 main6" "main7 main8";
  grid-gap: 1.5rem;
  align-items: center; }
  .section2 .div-text {
    grid-area: main5; }
    .section2 .div-text h3 {
      color: #fa8e00;
      font-family: "Bubblegum Sans", cursive;
      font-size: 40px;
      padding: 25px;
      display: flex;
      justify-content: center; }
    .section2 .div-text p {
      font-size: 1.5rem;
      margin: 0.8rem 2rem 1.8rem;
      line-height: 1.3;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
  .section2 .div-img {
    grid-area: main6; }
    .section2 .div-img img {
      width: 60%;
      margin: 0 20%; }
  .section2 .div2-img {
    grid-area: main7; }
  .section2 .div2-text {
    grid-area: main8; }
    .section2 .div2-text h4 {
      color: #fa8e00;
      font-family: "Bubblegum Sans", cursive;
      font-size: 40px;
      padding: 25px;
      display: flex;
      justify-content: center; }
    .section2 .div2-text p {
      font-size: 1.5rem;
      margin: 0.8rem 6rem 1.8rem;
      line-height: 1.3;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-wrap: wrap; }

.productos {
  padding: 50px; }
  .productos h2 {
    color: #ffffff;
    font-size: 50px;
    font-family: "Bubblegum Sans", cursive;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    padding: 50px; }
  .productos .productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "prod1 prod2 prod3"; }
    .productos .productos-grid .movimiento1 {
      display: flex;
      justify-content: center;
      grid-area: prod1; }
    .productos .productos-grid .movimiento2 {
      display: flex;
      justify-content: center;
      grid-area: prod2; }
    .productos .productos-grid .movimiento3 {
      display: flex;
      justify-content: center;
      grid-area: prod3; }

.productos-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "prod4 prod5 prod6" "prod7 prod8 prod9" "prod10 prod11 prod12" "prod13 prod14 prod15";
  gap: 5rem; }
  .productos-grid2 .movimiento4 {
    display: flex;
    justify-content: center;
    grid-area: prod4; }
    .productos-grid2 .movimiento4 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento4 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento5 {
    display: flex;
    justify-content: center;
    grid-area: prod5; }
    .productos-grid2 .movimiento5 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento5 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento6 {
    display: flex;
    justify-content: center;
    grid-area: prod6; }
    .productos-grid2 .movimiento6 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento6 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento7 {
    display: flex;
    justify-content: center;
    grid-area: prod7; }
    .productos-grid2 .movimiento7 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento7 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento8 {
    display: flex;
    justify-content: center;
    grid-area: prod8; }
    .productos-grid2 .movimiento8 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento8 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento9 {
    display: flex;
    justify-content: center;
    grid-area: prod9; }
    .productos-grid2 .movimiento9 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento9 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento10 {
    display: flex;
    justify-content: center;
    grid-area: prod10; }
    .productos-grid2 .movimiento10 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento10 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento11 {
    display: flex;
    justify-content: center;
    grid-area: prod11; }
    .productos-grid2 .movimiento11 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento11 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento12 {
    display: flex;
    justify-content: center;
    grid-area: prod12; }
    .productos-grid2 .movimiento12 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento12 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento13 {
    display: flex;
    justify-content: center;
    grid-area: prod13; }
    .productos-grid2 .movimiento13 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento13 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento14 {
    display: flex;
    justify-content: center;
    grid-area: prod14; }
    .productos-grid2 .movimiento14 img {
      border-radius: 10px;
      box-shadow: 5px 8px 12px black;
      transition: transform 2s; }
      .productos-grid2 .movimiento14 img:hover {
        transform: scale(1.2); }
  .productos-grid2 .movimiento15 {
    display: flex;
    justify-content: center;
    grid-area: prod15; }

.preguntas {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif; }
  .preguntas h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 55px;
    text-shadow: 2px 2px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black; }
  .preguntas .preguntas-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4" "pregunta5 pregunta6";
    grid-gap: 2rem; }
    .preguntas .preguntas-grid .pregunta1 {
      grid-area: pregunta1; }
      .preguntas .preguntas-grid .pregunta1 h3 {
        color: #fa8e00;
        font-size: 35px;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        padding: 25px; }
      .preguntas .preguntas-grid .pregunta1 p {
        font-size: 20px;
        display: flex;
        justify-content: center; }
    .preguntas .preguntas-grid .imagen-pregunta1, .preguntas .preguntas-grid .pregunta2 .imagen-pregunta2 {
      display: flex;
      justify-content: center;
      padding: 25px; }
    .preguntas .preguntas-grid .pregunta2 {
      grid-area: pregunta2; }
      .preguntas .preguntas-grid .pregunta2 h3 {
        color: #fa8e00;
        font-size: 35px;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        padding: 15px; }
      .preguntas .preguntas-grid .pregunta2 p {
        font-size: 20px;
        display: flex;
        justify-content: center; }
      .preguntas .preguntas-grid .pregunta2 .imagen-pregunta2 img {
        margin: 10px; }
    .preguntas .preguntas-grid .pregunta3 {
      grid-area: pregunta3; }
      .preguntas .preguntas-grid .pregunta3 h3 {
        color: #fa8e00;
        font-size: 35px;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        padding: 15px; }
      .preguntas .preguntas-grid .pregunta3 p {
        font-size: 20px;
        display: flex;
        justify-content: center; }
    .preguntas .preguntas-grid .imagen-pregunta3 {
      display: flex;
      justify-content: center;
      grid-area: pregunta4; }
      .preguntas .preguntas-grid .imagen-pregunta3 img {
        margin: 10px; }
    .preguntas .preguntas-grid .pregunta4 {
      grid-area: pregunta5; }
      .preguntas .preguntas-grid .pregunta4 h3 {
        color: #fa8e00;
        font-size: 35px;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        padding: 15px; }
      .preguntas .preguntas-grid .pregunta4 p {
        font-size: 20px;
        display: flex;
        justify-content: center; }
      .preguntas .preguntas-grid .pregunta4 .imagen-pregunta4 {
        display: flex;
        justify-content: center;
        padding: 70px; }
    .preguntas .preguntas-grid .pregunta5 {
      grid-area: pregunta6; }
      .preguntas .preguntas-grid .pregunta5 h3 {
        color: #fa8e00;
        font-size: 35px;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        padding: 15px; }
      .preguntas .preguntas-grid .pregunta5 p {
        font-size: 20px;
        display: flex;
        justify-content: center; }
      .preguntas .preguntas-grid .pregunta5 .imagen-pregunta5 {
        display: flex;
        justify-content: center;
        padding: 50px; }
        .preguntas .preguntas-grid .pregunta5 .imagen-pregunta5 img {
          margin: 10px; }

.form {
  background-color: #ffffff;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em; }
  .form .form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%; }
    .form .form__container .form__title {
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: .4em; }
    .form .form__container .form__input {
      font-family: inherit;
      font-size: 1rem;
      padding: .8em 1em;
      outline: none;
      border: none;
      border: 1px solid #bbb0b0;
      border-radius: 0.2em; }
    .form .form__container .form__input--message {
      resize: none;
      padding: 1.8em 1em;
      margin-bottom: .5em; }
    .form .form__container .form__cta {
      font-family: inherit;
      font-size: 1rem;
      background-color: #089fe0;
      color: #ffffff;
      border: none;
      font-weight: 300;
      padding: .7em 0;
      border-radius: .2em;
      cursor: pointer;
      font-weight: 400; }

@media screen and (max-width: 576px) {
  main {
    background-color: #a895fc; }
  .presentacion {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main1" "main2" "main4" "main3"; }
    .presentacion .presentacion_text h2 {
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .presentacion .presentacion_text p {
      font-size: 15px; }
    .presentacion .contenedor img {
      width: 80%; }
    .presentacion .contenedor2 img {
      width: 80%; }
    .presentacion .contenedor3 h2 {
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .presentacion .contenedor3 p {
      font-size: 15px; }
  .section2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main5" "main6" "main8" "main7"; }
    .section2 .div-text h3 {
      display: flex;
      justify-content: center;
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .section2 .div-text p {
      font-size: 15px; }
    .section2 .div-img {
      width: 100%; }
    .section2 .div2-img img {
      width: 150px;
      margin-left: 30px; }
    .section2 .div2-text h4 {
      font-size: 25px;
      font-family: "Bubblegum Sans", cursive; }
    .section2 .div2-text p {
      font-size: 15px; }
  .productos h2 {
    font-size: 25px;
    font-family: "Bubblegum Sans", cursive; }
  .productos .productos-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "prod1 prod2 prod3"; }
  .productos .movimiento1 img {
    width: 80%;
    height: 100%; }
  .productos .movimiento2 img {
    width: 80%;
    height: 100%; }
  .productos .movimiento3 img {
    width: 80%;
    height: 100%; }
  .productos .productos-grid2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6fr, 1fr);
    grid-template-areas: "prod4 prod5" "prod6 prod7" "prod8 prod9" "prod10 prod11" "prod12 prod13" "prod14 prod15"; }
    .productos .productos-grid2 .movimiento4 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento5 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento6 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento7 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento8 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento9 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento10 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento11 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento12 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento13 img {
      width: 90%;
      height: 50%; }
    .productos .productos-grid2 .movimiento14 img {
      width: 90%;
      height: 80%; }
    .productos .productos-grid2 .movimiento15 img {
      width: 90%;
      height: 80%; }
  .preguntas h2 {
    font-size: 25px;
    font-family: "Bubblegum Sans", cursive; }
  .preguntas .preguntas-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "pregunta1" "pregunta2" "pregunta3" "pregunta4" "pregunta5" "pregunta6";
    grid-gap: 2rem; }
    .preguntas .preguntas-grid .pregunta1 h3 {
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .preguntas .preguntas-grid .pregunta1 p {
      font-size: 15px; }
    .preguntas .preguntas-grid .pregunta1 .imagen-pregunta1 img, .preguntas .preguntas-grid .pregunta1 .pregunta2 .imagen-pregunta2 img, .preguntas .preguntas-grid .pregunta2 .pregunta1 .imagen-pregunta2 img {
      width: 25%; }
    .preguntas .preguntas-grid .pregunta2 h3 {
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .preguntas .preguntas-grid .pregunta2 p {
      font-size: 15px; }
    .preguntas .preguntas-grid .pregunta2 .imagen-pregunta2 img {
      width: 25%; }
    .preguntas .preguntas-grid .pregunta3 h3 {
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .preguntas .preguntas-grid .pregunta3 p {
      font-size: 15px; }
    .preguntas .preguntas-grid .imagen-pregunta3 img {
      width: 55%; }
    .preguntas .preguntas-grid .pregunta4 h3 {
      font-size: 22px;
      font-family: "Bubblegum Sans", cursive; }
    .preguntas .preguntas-grid .pregunta4 p {
      font-size: 15px; }
    .preguntas .preguntas-grid .pregunta4 .imagen-pregunta4 img {
      width: 60%; }
    .preguntas .preguntas-grid .pregunta5 h3 {
      font-size: 22px;
      margin: 20px;
      font-family: "Bubblegum Sans", cursive; }
    .preguntas .preguntas-grid .pregunta5 p {
      font-size: 15px; }
  .form {
    width: 100%;
    height: 100%; } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

section {
  padding: 70px 5%; }

main {
  background-color: #a895fc; }

footer {
  background-color: #a895fc;
  padding: 30px; }
