.footer{
    padding: 30px 170px;
    width: 100%;
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "footer footer footer";
        grid-area: "footer";
        .contactanos{
           h4 a{
            color: #ffffff;
            font-size: 30px;
            font-family: 'Bubblegum Sans', cursive; 
            display: flex;
            justify-content: center;
           }

        .logo-footer{
            display: flex;
            justify-content: center;
            padding: 10px;
            img{
                border-radius: 10px;
                box-shadow: 5px 8px 12px rgb(250, 217, 246);
                transition: transform 2s;
                &:hover{
                    transform: scale(1.2);
                }
              }
            }
        }
        .footer1{
            h4{
                font-size: 20px;
                font-family:'Bubblegum Sans', cursive;
                color: #fff;
                display: flex;
                justify-content: center;
                color: #ffffff;
            }
            .lista-footer{
                display: flex;
                flex-direction: column;
                align-items: center;
                li{
                    padding: 2px;
                    a{
                       color: #fff;
                    }
                }
            }
        }
         .redes-sociales{
             h4{
                color: #fdfdfd;
                font-size: 20px;
                display: flex;
                justify-content: center;
             }
             .social-media{
                display: flex;
                justify-content: center;
                padding: 10px;
                img{
                    margin: 3px;
                }
             }
         }
    }
}