.section2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "main5 main6"
    "main7 main8";
    grid-gap: 1.5rem; 
    align-items: center;
    grid-area: "main2";
    .div-text{
        grid-area: main5;
        h3{
            color:$colorsub;
            font-family:$fonttit;
            font-size: 40px;
            padding: 25px;
            display: flex;
            justify-content: center;
        }
        p{
            font-size: 1.5rem;
            margin: 0.8rem 2rem 1.8rem;
            line-height: 1.3;
            color: #fff;
            font-family:'Poppins', sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .div-img{
        grid-area: main6;
        img{
            width: 60%;
            margin: 0 20%;
        }
    }
    .div2-img{
        grid-area: main7;
    }
    .div2-text{
        grid-area: main8;
        h4{
            color:$colorsub;
            font-family:$fonttit;
            font-size: 40px;
            padding: 25px;
            display: flex;
            justify-content: center;
        }
        p{
           font-size: 1.5rem;
           margin: 0.8rem 6rem 1.8rem;
           line-height: 1.3;
           color: $colortit;
           font-family:'Poppins', sans-serif;
           display: flex;
           flex-wrap: wrap;
        }
    }
}