.presentacion{
    width: 100%;
    min-height: 80vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "main1 main2"
    "main3 main4";
    grid-gap: 1.5rem;
    .presentacion_text{
      grid-area: main1;
       h2{
        font-size: 40px;
        font-family:$fonttit; 
        color:$colorsub;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px;
        margin: 2rem;
       }
       p{
        font-size: 1.5rem;
        margin: 0.8rem 2rem 1.8rem;
        line-height: 1.3;
        color: #fff;
        font-family:'Poppins', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;
       }
    } 

       .contenedor{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin: 0 20px;
       padding: 4em;
       grid-area: main2;
       img{
         width: 400px;
       }
    }

       .contenedor2{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin: 0 20px;
       padding: 30px;
       grid-area: main3;
       img{
         width: 400px;
       }
    }

       .contenedor3{
         font-size: 1.5rem;
         margin: 0.8rem 2rem 1.8rem;
         line-height: 1.3;
         color: $colortit;
         font-family:'Poppins', sans-serif;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         grid-area: main4;
       h2{
         color: $colorsub;
         font-family:$fonttit;
         font-size: 40px;
         padding: 25px;
       }
    }  

}